.providers {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.providers p {
    margin-right: 5px;
}

.providers .providers-buttons {
    width: 130px;
    display: flex;
    justify-content: space-around;
}

.providers .providers-buttons button {
    width: 32px;
    height: 32px;
    border: 1px solid var(--lightgrey);
    border-radius: 50%;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.providers .providers-buttons button:hover {
    border: 1px solid rgba(170, 71, 58, 0.3);
}

.providers .provider-logo {
    height: 18px;
}