.profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.profile .profile-settings {
    width: 100%;
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile .avatar-upload {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    background-color: var(--color-4);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.profile .avatar-upload svg {
    width: 70px;
    color: var(--white);
}

.profile .avatar-input {
    display: none;
}

.profile .avatar-image {
    width: 100%;
}

.profile .my-profile {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.profile .buttons {
    display: flex;
    gap: 6px;
}

.profile .username {
    font-size: 22px;
    line-height: 22px;
    font-weight: 600;
}

.profile .edit-username {
    width: 240px;
    height: 22px;
    background-color: white;
    overflow-y: hidden;
    font-size: 22px;
    line-height: 22px;
    font-weight: 600;
}

.profile .edit-user-name::placeholder {
    font-size: 13px;
    padding-left: 5px;
}

.profile .profile-tweets {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}